<footer>
    <div class="container__footer">
        <div class="box__footer">
            <div class="terms">
                <p>Página desarrollada en el Bootcamp MERN Full Stack, dado por MindHub.</p>
            </div>
        </div>
        <div class="box__footer">
            <h2>Redes Sociales</h2>
            <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
            <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
            <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
        </div>
    </div>
    <div class="box__copyright">
        <hr>
        <p>Todos los derechos reservados © 2021 <b>Uriel Alessandro</b></p>
    </div>
</footer>
</body>
</html>