<header>
    <div>
        <img style="width: 200px;" src="../assets/logo_transparent.png" alt="Logo">
    </div>
    <nav>
        <a href="/" class="<%= title.includes('Home') ? 'active' : null %>">Home</a>
        <a href="/catalogo" class="<%= title.includes('Catalogo') ? 'active' : null %>">Catálogo</a>
        <a href="/perfil" class="<%= title.includes('Cargar pelicula') ? 'active' : null %>">Cargar Pelicula</a>
    </nav>
</header>