<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>Catalogo - MediaFavorite</title>
</head>
<body>
    <header>
        <div>
            <h3 class="marca">Media<span>Favorite</span></h3>
        </div>
        <nav>
            <a href="/home">Home</a>
            <a href="#" class="active">Catálogo</a>
            <a href="/login">Ingresar</a>
        </nav>
    </header>
    <main class="catalogoMain">
        <div class="buscador">
            <div>
                <i class="fas fa-search"></i><input class="searchInput" type="text" name="pelicula" placeholder="Nombre de la pelicula">
            </div>
            <div>
                <input type="checkbox" name="accion" checked>
                <label for="accion">Acción</label>
                <input type="checkbox" name="accion" checked>
                <label for="accion">Drama</label>
                <input type="checkbox" name="accion" checked>
                <label for="accion">Terror</label>
            </div>
        </div>
        <div class="peliculasContainer">
            <div class="wrapper">
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/NbMLAOa.png" alt="">
                    <div class="descriptions">
                        <h1>John Wick 3</h1>
                        <p>
                            After gunning down a member of the High Table -- the shadowy international assassin's guild -- legendary hit man John Wick finds himself stripped of the organization's protective services. Now stuck with a $14 million bounty on his head, Wick must fight his way through the streets of New York as he becomes the target of the world's most ruthless killers.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/Wmfq4FT.jpg" alt="">
                    <div class="descriptions">
                        <h1>Equalizer 2</h1>
                        <p>
                            If you have a problem and there is nowhere else to turn, the mysterious and elusive Robert McCall will deliver the vigilante justice you seek. This time, however, McCall's past cuts especially close to home when thugs kill Susan Plummer -- his best friend and former colleague. Now out for revenge, McCall must take on a crew of highly trained assassins who'll stop at nothing to destroy him.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/Wmfq4FT.jpg" alt="">
                    <div class="descriptions">
                        <h1>Equalizer 2</h1>
                        <p>
                            If you have a problem and there is nowhere else to turn, the mysterious and elusive Robert McCall will deliver the vigilante justice you seek. This time, however, McCall's past cuts especially close to home when thugs kill Susan Plummer -- his best friend and former colleague. Now out for revenge, McCall must take on a crew of highly trained assassins who'll stop at nothing to destroy him.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/Wmfq4FT.jpg" alt="">
                    <div class="descriptions">
                        <h1>Equalizer 2</h1>
                        <p>
                            If you have a problem and there is nowhere else to turn, the mysterious and elusive Robert McCall will deliver the vigilante justice you seek. This time, however, McCall's past cuts especially close to home when thugs kill Susan Plummer -- his best friend and former colleague. Now out for revenge, McCall must take on a crew of highly trained assassins who'll stop at nothing to destroy him.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/NbMLAOa.png" alt="">
                    <div class="descriptions">
                        <h1>John Wick 3</h1>
                        <p>
                            After gunning down a member of the High Table -- the shadowy international assassin's guild -- legendary hit man John Wick finds himself stripped of the organization's protective services. Now stuck with a $14 million bounty on his head, Wick must fight his way through the streets of New York as he becomes the target of the world's most ruthless killers.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/Wmfq4FT.jpg" alt="">
                    <div class="descriptions">
                        <h1>Equalizer 2</h1>
                        <p>
                            If you have a problem and there is nowhere else to turn, the mysterious and elusive Robert McCall will deliver the vigilante justice you seek. This time, however, McCall's past cuts especially close to home when thugs kill Susan Plummer -- his best friend and former colleague. Now out for revenge, McCall must take on a crew of highly trained assassins who'll stop at nothing to destroy him.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/Wmfq4FT.jpg" alt="">
                    <div class="descriptions">
                        <h1>Equalizer 2</h1>
                        <p>
                            If you have a problem and there is nowhere else to turn, the mysterious and elusive Robert McCall will deliver the vigilante justice you seek. This time, however, McCall's past cuts especially close to home when thugs kill Susan Plummer -- his best friend and former colleague. Now out for revenge, McCall must take on a crew of highly trained assassins who'll stop at nothing to destroy him.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/Wmfq4FT.jpg" alt="">
                    <div class="descriptions">
                        <h1>Equalizer 2</h1>
                        <p>
                            If you have a problem and there is nowhere else to turn, the mysterious and elusive Robert McCall will deliver the vigilante justice you seek. This time, however, McCall's past cuts especially close to home when thugs kill Susan Plummer -- his best friend and former colleague. Now out for revenge, McCall must take on a crew of highly trained assassins who'll stop at nothing to destroy him.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/NbMLAOa.png" alt="">
                    <div class="descriptions">
                        <h1>John Wick 3</h1>
                        <p>
                            After gunning down a member of the High Table -- the shadowy international assassin's guild -- legendary hit man John Wick finds himself stripped of the organization's protective services. Now stuck with a $14 million bounty on his head, Wick must fight his way through the streets of New York as he becomes the target of the world's most ruthless killers.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/Wmfq4FT.jpg" alt="">
                    <div class="descriptions">
                        <h1>Equalizer 2</h1>
                        <p>
                            If you have a problem and there is nowhere else to turn, the mysterious and elusive Robert McCall will deliver the vigilante justice you seek. This time, however, McCall's past cuts especially close to home when thugs kill Susan Plummer -- his best friend and former colleague. Now out for revenge, McCall must take on a crew of highly trained assassins who'll stop at nothing to destroy him.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/Wmfq4FT.jpg" alt="">
                    <div class="descriptions">
                        <h1>Equalizer 2</h1>
                        <p>
                            If you have a problem and there is nowhere else to turn, the mysterious and elusive Robert McCall will deliver the vigilante justice you seek. This time, however, McCall's past cuts especially close to home when thugs kill Susan Plummer -- his best friend and former colleague. Now out for revenge, McCall must take on a crew of highly trained assassins who'll stop at nothing to destroy him.
                        </p>
                    </div>
                </div>
                <div class="peliculaCard">
                    <img src="https://i.imgur.com/Wmfq4FT.jpg" alt="">
                    <div class="descriptions">
                        <h1>Equalizer 2</h1>
                        <p>
                            If you have a problem and there is nowhere else to turn, the mysterious and elusive Robert McCall will deliver the vigilante justice you seek. This time, however, McCall's past cuts especially close to home when thugs kill Susan Plummer -- his best friend and former colleague. Now out for revenge, McCall must take on a crew of highly trained assassins who'll stop at nothing to destroy him.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container__footer">
            <div class="box__footer">
                <div class="terms">
                    <p>Página desarrollada en el Bootcamp MERN Full Stack, dado por MindHub.</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>
        </div>
        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>Uriel Alessandro</b></p>
        </div>
    </footer>
</body>
</html>