<%- include('partials/head.ejs') %> 
    <div class="heroBienvenida">
        <div>
            <h1>Media<span>Favorite</span></h1>
            <a href="/home"><button>Empezar ahora!</button></a>
        </div>
    </div>
</body>
</html>