<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <title>Home - MediaFavorite</title>
</head>
<body>
    <div class="hero">
        <header>
            <div>
                <h3 class="marca">Media<span>Favorite</span></h3>
            </div>
            <nav>
                <a href="#" class="active">Home</a>
                <a href="/catalogo">Catálogo</a>
                <a href="/login">Ingresar</a>
            </nav>
        </header>
        <div class="welcomeContainer">
            <h1>Bienvenido a Media<span style="color: red;">Favorite</span></h1>
            <h3>Añade tus peliculas favoritas al catálogo, puntúalas y demás!</h3>
        </div>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </div>
    <main class="homeMain">
        <h2>Sobre Media<span style="color: red;">Favorite</span></h2>
        <section class="cardsSection">
            <div class="card">
                <h3>Crea tu cuenta de usuario</h3>
                <div style="background-image: url('https://i.imgur.com/0vu7vKJ.png')"></div>
                <p>Al crearte una cuenta de usuario, podrás personalizar tu perfil, cargar películas, y añadirlas a tu lista de favoritos!</p>
            </div>
            <div class="card">
                <h3>Explora el catálogo</h3>
                <div style="background-image: url('https://i.imgur.com/mRt5l8x.png')"></div>
                <p>Explora nuestro catálogo de películas, filtra por género, título y puntuación!</p>
            </div>
            <div class="card">
                <h3>Añade una película</h3>
                <div style="background-image: url('https://www.upload.ee/image/13472861/Data_Arranging_Outline.png')"></div>
                <p>Al crearte una cuenta, podrás cargar una película desde la sección de usuarios, esta será revisada por un administrador antes de ser publicada.</p>
            </div>
        </section>
    </main>
    <footer>
        <div class="container__footer">
            <div class="box__footer">
                <div class="terms">
                    <p>Página desarrollada en el Bootcamp MERN Full Stack, dado por MindHub.</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>
        </div>
        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>Uriel Alessandro</b></p>
        </div>
    </footer>
</body>
</html>