<%- include('partials/head.ejs') %> 
    <div class="hero">
        <%- include('partials/header.ejs') %> 
        <div class="welcomeContainer">
            <h1>Bienvenido a <span style="color: red;">MediaArg</span></h1>
        </div>
        <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
    </div>
    <main class="homeMain">
        <h2>Qué hacer en <span style="color: red;">MediaArg</span></h2>
        <section class="cardsSection">
            <div class="card">
                <h3>Explora el catálogo</h3>
                <div style="background-image: url('https://i.imgur.com/mRt5l8x.png')"></div>
                <p>Explora un amplio catálogo de peliculas!</p>
            </div>
            <div class="card">
                <h3>Edita una pelicula</h3>
                <div style="background-image: url('https://i.imgur.com/0vu7vKJ.png')"></div>
                <p>¿Algún dato es erroneo? Haz click en una película del catálogo y editala a gusto.</p>
            </div>
            <div class="card">
                <h3>Añade o borra una película</h3>
                <div style="background-image: url('https://www.upload.ee/image/13472861/Data_Arranging_Outline.png')"></div>
                <p>Muevete a la sección "Cargar película", rellena un formulario y carga una película al catálogo! Si una película está repetida, en esta misma sección podrás borrarla.</p>
            </div>
        </section>
    </main>
<%- include('partials/footer.ejs') %> 