<%- include('partials/formHead.ejs') %>
<body>
    <header>
        <div>
            <h3 class="marca">Media<span>Favorite</span></h3>
        </div>
        <nav>
            <a href="/home">Home</a>
            <a href="/catalogo">Catálogo</a>
            <a href="#" class="active">Ingresar</a>
        </nav>
    </header>
    <main class="loginMain">
        <h1>Ingresa a tu cuenta</h1>
        <form method="" action="" id="login-form" class="login-form" autocomplete="off">
            <div>
              <label class="label-email">
                <input type="email" class="text" name="email" placeholder="Email" tabindex="1" required />
                <span class="required">Email</span>
              </label>
            </div>
            <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
            <label class="label-show-password" for="show-password">
              <span>Mostrar contraseña</span>
            </label>
            <div>
              <label class="label-password">
                <input type="text" class="text" name="contraseña" placeholder="Contraseña" tabindex="2" required />
                <span class="required">Contraseña</span>
              </label>
            </div>
            <input type="submit" />
            <figure aria-hidden="true">
              <div class="person-body"></div>
              <div class="neck skin"></div>
              <div class="head skin">
                <div class="eyes"></div>
                <div class="mouth"></div>
              </div>
              <div class="hair"></div>
              <div class="ears"></div>
              <div class="shirt-1"></div>
              <div class="shirt-2"></div>
            </figure>
        </form>
        <a href="/signin">¿Primera vez? Crea una cuenta desde aquí</a>
    </main>
<%- include('partials/footer.ejs') %> 