<%- include('partials/formHead.ejs') %> <%- include('partials/header.ejs') %>
<main class="loginMain">
  <h1>Crea una cuenta</h1>
  <form
    method="POST"
    action="/signup"
    id="login-form"
    class="login-form"
    autocomplete="off"
  >
    <div>
      <label class="label-email" for="nombre">
        <input
          minlength="2"
          maxlength="20"
          type="text"
          class="text"
          name="nombre"
          placeholder="Nombre"
          tabindex="1"
          required
        />
        <span class="required">Nombre</span>
      </label>
      <label class="label-email" for="apellido">
        <input
          minlength="2"
          maxlength="20"
          type="text"
          class="text"
          name="apellido"
          placeholder="Apellido"
          tabindex="2"
          required
        />
        <span class="required">Apellido</span>
      </label>
      <label class="label-email" for="email">
        <input
          type="email"
          class="text"
          name="email"
          placeholder="Email"
          tabindex="3"
          required
        />
        <span class="required">Email</span>
      </label>
    </div>
    <div>
      <label class="label-password" for="contraseña">
        <input
          minlength="6"
          maxlength="20"
          min="6"
          max="20"
          type="password"
          class="text"
          name="contraseña"
          placeholder="Contraseña"
          tabindex="4"
          required
        />
        <span class="required">Contraseña</span>
      </label>
      <label class="label-email" for="avatar">
        <input
          type="text"
          class="text"
          name="avatar"
          placeholder="Ingresa la URL del avatar"
          tabindex="5"
        />
        <span class="required">Avatar (Opcional)</span>
      </label>
    </div>
    <input type="submit" value="enviar" />
  </form>
  <% if (error) { %>
  <h4 style="color: red"><%= error %></h4>
  <% } %>
  <a href="/login">¿Ya tienes una cuenta? Ingresa desde aquí</a>
</main>
<%- include('partials/footer.ejs') %>
